<p>Olá <strong>{{ student_name }}</strong></p>
<p>Parabéns!</p>
<p>Sua matrícula com o GymPoint foi realizada com sucesso.</p>
<p>Confira abaixo seus dados de cadastro:</p>
<small>*Caso perceba algum erro em seu cadastro, entre em contato conosco.</small>
<ul style="list-style: none">
  <li>Matrícula: {{ enroll_number }} </li>
  <li>Nome: {{ student_name }} </li>
  <li>Email: {{ student_email }} </li>
  <li>Pacote: {{ pack_name }} </li>
  <li>Início do pacote: {{ enroll_start_date }} </li>
  <li>Fim do pacote: {{ enroll_end_date }} </li>
  <li>Valor Total: R$ {{ enroll_price }},00 </li>
</ul>
<p>Qualquer dúvida entre em contato conosco, ok?</p>
