<p>Olá <strong>{{ student_name }}</strong>, como vai?</p>
<p>A pergunta que você fez em nossa plataforma <strong>GymPoint</strong> acabou de ser respondida.</p>
<p>Confira abaixo:</p>
<ul style="list-style: none">
  <li><strong>Nome:</strong> {{ student_name }} </li>
  <li><strong>Email:</strong> {{ student_email }} </li>
  <li><strong>Pergunta:</strong> {{ question }} </li>
  <li><strong>Resposta:</strong> {{ answer }} </li>
</ul>
<p>Qualquer dúvida entre em contato conosco, ok?</p>
